.main-nav {
  background-color: opacity($color: #000000);
  background-color: $black;
  width: 100%;
  z-index: 99;
  height: 70px;
  transition: 0.5s;
  position: fixed;
  top: 0;
  // mix-blend-mode: exclusion;

  .log-out-icon{
    object-fit: contain;
    width:40px;
    height:40px;
  }

  .main-nav-container {
    height: 70px;
    padding: 0 12px;
    // mix-blend-mode: exclusion;
  }

  .profile-pic {
    border-radius: 100px;
    width: 43px;
    height: 43px;
    object-fit: cover;
    margin-left: 20px;
  }

  .nav-separator {
    margin-right: 5px;
    margin-left: 5px;
    color: transparent;
  }

  .menu-btn-mobile {
    background-color: inherit;
    font-size: rem(30px);
    width:0px;
  }

  .nav-links {
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: fit-content;
    width: 100%;
    background-color: $black;
    opacity: 0.8;
    z-index: 100;
    border-radius: 15px;
    top: 0px;
    right: 0px;
    margin-top: 0px;
    box-sizing: border-box;
    color: $white;
    text-shadow: $white 0px 0px 11px;
    padding-bottom:20px;
    @include for-normal-layout {
      list-style: none;
      margin: 0;
      padding: 0;
      position: initial;
      flex-direction: row;
      justify-content: flex-start;
      display: flex;
      background-color: inherit;
      z-index: 2;
      border-radius: 0px;
      opacity: 1;
    }

    .logo {
      @include for-normal-layout {
        margin-right: 15px;
      }
    }

    .logo-pic {
      width: 35px;
      height: 35px;
      object-fit: contain;
    }

    .logo-name {
      font-size: rem(10px);
    }

    .nav-link {
      color: $white;
      text-decoration: none;
      transition: 0.3s;
      @include for-normal-layout {
        padding: 1px 6px 2px 6px;
      }

      &.nav-link.active-link {
        color: $black;
      }

      &:hover {
        color: $black;
        background-color: $white;
        border-radius: 3px;
        @include for-normal-layout {
          padding: 1px 6px 2px 6px;
        }
      }
    }
  }
  .active-link {
    color: $black;
    background-color: $white;
    border-radius: 2px;
    @include for-normal-layout {
      padding: 1px 6px 2px 6px;
    }
  }

  &.main-nav-home {
    background-color: transparent;
    position: absolute;
    //  background-color: opacity($color: #000000);
  }

  &.scrolled {
    background-color: $black;
    position: fixed;
    transition: 0.5s;
    color: $clr2;
    border-bottom: 1px solid;

    .nav-link {
      color: $white;
    }

    .active-link {
      color: $white;
    }
  }
}
