.main-nav {
    background-color: opacity($color: #000000);
    width: 100%;
    z-index: 1;
    display: flex;

    .nav-separator {
        margin-right: 5px;
        margin-left: 5px;
    }

    .nav-links {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 10px;

        .nav-link {
            text-decoration: none;
            padding-left: 5px;
            transition: .3s;   

            &:hover {
                color: $clr6;
                background-color: $clr2;  
                border-radius: 3px;
                padding: 4px;
            }  
        }

      
    }
}

.scrolled {
    background-color: rgba(255, 255, 255, 0.596);
    position: fixed;
    transition: .5s;
}