.comments-container {
  h2 {
    font-family: montserrat, cabin, sans-serif;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    margin-bottom: 14px;
  }
  grid-area: comments-area;
  padding-left: 20px;
  margin-bottom: 65px;
  .comment-form {
    margin: 10px 0 0px 0;
    textarea {
      width: 450px;
      align-self: center;
    }
  }
  .comments-area {
    padding: 2px;
    background-clip: border-box;
    li {
      position: relative;
      padding: 5px 20px;
      background-clip: border-box;
      border-bottom: solid 1px black;

      &:nth-child(odd) {
        background-color: rgba(206, 243, 250, 0.4);
      }
      &:nth-child(even) {
        background-color: #ffffff;
      }

      .delete-review {
        object-fit: contain;
        height: 16px;
        width: 16px;
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 8px;
        left: 5px;
        background-image: url("../../images/icons/remove.png");

        &:hover {
          background-image: url("../../images/icons/quit.png");
        }
      }

      .comment-user-msg {
        font-size: rem(14px);
      }
      .comment-profile {
        margin-right: 20px;

        .comment-by-user {
          font-size: rem(9px);
          font-weight: 800;
        }
        img {
          width: 35px;
          border-radius: 25px;
        }
      }
    }
  }
}
