.search {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  
  .search-filter {
    width: 70px;
    border: 1px solid #b1afb3;
    border-right: none;
    height: 32px;
    outline: none;
    color: dimgray;
  }
  
}

.searchTerm {
  width: 100%;
  border: 1px solid #b1afb3;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: dimgray;
}

.searchTerm:focus {
  color: rgb(31, 28, 28);
}

.searchButton {
  width: 40px;
  height: 32px;
  border: 1px solid #b1afb3;
  // background: white;
  text-align: center;
  // color: #b1afb3;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  /* font-size: 20px; */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;
  }

  &:active {
    background-color: rgb(73, 70, 70);
  }

  &:hover {
    background-color: rgb(156, 151, 151);
    color: $clr1;
  }
}

/*Resize the wrap to see the search bar change!*/
.search-wrap {
  width: 40%;
  // margin-top: 4px;
}
