section.tags-container {
    & ul {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        width: 100%;
        position: relative;
        min-height: 1px;
        padding: 0;
    }
    
    & li.tag {
        display: inline-block;
        position: relative;
        line-height: 16px;
        font-size: 16px;
        margin: 6px 10px 6px 0;
        cursor: pointer;
        background: #f4f4f4;
        border-radius: 3px;
    }
    & li.tag a {
        display: inline-block;
        padding: 10px 14px;
        color: $clr2;
        text-decoration: none;
    }
}