.add-artwork-container {
  margin-top: 20vh;
  //   padding-top: 5vh;
  h2 {
    font-family: montserrat, cabin, sans-serif;
    text-align: center;
    font-size: rem(33px);
    font-weight: 500;
  }
}

.k-multiselect{

&.k-multiselect-wrap{

  &.k-searchbar{

&.k-input:focus{
  box-shadow: none;
  .artwork-form input:focus {
    box-shadow: none;
  }
  border: none;
  outline: none;
}
}
}
}

