.details-container {
  .details-image-container {
    vertical-align: top;
    width: 58%;
  }
  .art-name {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .art-name::first-letter {
    text-transform: capitalize;
  }
  .like-icon {
    background: url("../../images/icons/like.png") no-repeat center center;
    width: 36px;
  }
  .liked-icon {
    background: url("../../images/icons/liked.png") no-repeat center center;
    width: 36px;
  }
}
