.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    


    .category-links {
        padding: 0;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
        grid-gap: 20px;
        align-items: stretch;

    
        .category-link {
            max-width: 100%;
            height: 200px;
            object-fit: cover;
           
    }

}



    .coverImg {
        height: 85vh;
        background: url('../../images/coverHome.jpg') no-repeat center center fixed;
        background-size: cover;
        font-family: caveat;
        font-size: rem(80px);
        text-align: center;
        color: rgb(0, 0, 0);
        
    }

}



.logo {
    padding: rem(20px);
    width: 140px;

    @include for-normal-layout {
        width: auto;
    }
}
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    

    @include for-normal-layout {
        // height: 86vh;
    }
}

#nav {
    a {
        background: green;

        &:first-child {
            background-color: red;
        }

        body.homepage & {
            color: gold;
        }
    }
}

// body.homepage #nav a {
    
// }