.main-app-container {
  font-family: montserrat, cabin, sans-serif;
  color: $clr1;
  text-align: center;
  // margin-top: 16vh;
  header p {
    text-align: center;
    margin: auto;
    margin-bottom: 18px;
  }
  h2 {
    font-family: montserrat, cabin, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }
}
