.main-app-container {
    font-family: montserrat, cabin, sans-serif;
    color: $clr1;
    h2 {
        font-family: montserrat, cabin, sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
    }
    p {
        text-align: center;
    }
}