.details-container {
    padding-top: 70px;
    width: 100%;
    display: grid;
    grid-template-areas:
      "image-area image-area image-area image-area image-area image-area text-area"
      "comments-area comments-area comments-area comments-area comments-area comments-area text-area";
    grid-gap: 20px;
  
    .image-area {
      grid-area: image-area;
  
      .main-details {
        align-self: center;
      }
      margin: 0 auto;
      max-width: $normal-breakpoint;
      margin-top: 40px;
      margin-top: 16vh;
  
      .profile-picture-details {
        object-fit: cover;
        border-radius: 100px;
        width: 60px;
        height: 60px;
      }
    }
  
    .details-text-container {
      position: relative;
      grid-area: text-area;
      background-color: #f9f8ee;
      border-radius: 10px;
      aside {
        padding: 0px 30px;
        .art-description {
          max-width: 25ch;
        }
        .art-price {
          color: $gold;
          font-size: rem(30px);
          span {
            &.var-price {
              margin-left: 10px;
              display: block;
            }
            &.price {
              font-size: rem(15px);
              color: black;
              font-weight: 500;
            }
          }
        }
        .add-to-cart {
          display: flex;
          background: $gold;
          padding: 15px 10px;
          top: 380px;
          div {
            font-weight: 800;
          }
        }
      }
    }
  
    .profile-picture-details {
      object-fit: cover;
      border-radius: 100px;
      width: 60px;
      height: 60px;
    }
    .art-name {
      font-weight: 700;
      font-size: 1.5rem;
    }
    .art-name::first-letter {
      text-transform: capitalize;
    }
  
    .like-display {
      right: 20px;
      top: 29px;
      position: absolute;
  
      .preview-likes-container {
        font-size: 12px;
  
        .likes-counter {
          vertical-align: top;
          display: inline-block;
          color: #6e6e6e;
          font-size: 16px;
          line-height: 14px;
          font-family: greycliff, sans-serif;
        }
        label {
          cursor: pointer;
        }
        input#like-toggle {
          display: none;
          cursor: pointer;
        }
  
        .preview-icon-like {
          width: 17px;
          height: 17px;
          transition: 0.8s;
        }
        .art-name {
          font-weight: 700;
          font-size: 1.5rem;
        }
        .art-name::first-letter {
          text-transform: capitalize;
        }
        .like-icon {
          background: url("../../images/icons/like.png") no-repeat center center;
          width: 36px;
        }
        .liked-icon {
          background: url("../../images/icons/liked.png") no-repeat center center;
          width: 36px;
        }
        .heart {
          width: 100px;
          height: 100px;
          background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
          background-position: 0 0;
          cursor: pointer;
          transition: background-position 1s steps(28);
          transition-duration: 0s;
  
          &.is-active {
            transition-duration: 1s;
            background-position: -2800px 0;
          }
        }
      }
    }
    .action-btns {
      width: 100%;
      margin-bottom: 50px;
      .edit-btn {
        width: 100px;
        // padding: 8px 10px;
        margin: 5px 0px;
        font-size: 1rem;
        font-weight: normal;
        border: none;
        color: #fff;
        border-radius: 2px;
        text-align: center;
        margin: 0 auto;
  
        button {
          background-color: #ebe9e5;
          max-width: 100px;
          color: $clr1;
        }
      }
    }
    .details-certificate {
      display: grid;
      grid-template-areas:
        "delivery delivery medal medal"
        "return return security security"
        ". warranty warranty .";
      grid-gap: 10px;
      .medal-area {
        grid-area: medal;
      }
      .delivery-area {
        grid-area: delivery;
      }
      .return-area {
        grid-area: return;
      }
      .security-area {
        grid-area: security;
      }
      .warranty-area {
        grid-area: warranty;
      }
  
      .icon {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 32px;
        height: 32px;
        &.delivery {
          background-image: url("../../images/icons/truck.png");
        }
        &.medal {
          background-image: url("../../images/icons/medal.png");
        }
        &.return {
          background-image: url("../../images/icons/return.png");
        }
        &.security {
          background-image: url("../../images/icons/password.png");
        }
        &.warranty {
          background-image: url("../../images/icons/warranty.png");
        }
      }
      .certificate-text {
        max-width: 20ch;
        text-align: center;
      }
    }
  }
  