// Colors
$clr1: #444444;
$clr2: #707070;
$clr3: #95adbe;
$clr4: #dff0ea;
$clr5: #e3e3e3;
$clr6: #fff;
$gold: #d5a770;
$clr7: #ebe9e5;
$gold: #d5a770;

// Color btn
$clr-btn:$gold;
$clr-btn-hover: #d19961;
$clr-btn-secondary: #474747;
$clr-btn-secondary-hover: #000;
$clr-btn-third: #aaa;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1200px;

